* {
}

body {
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
    background-color: #ffe5ec;
    font-family: 'Courier New', Courier, monospace;
}

body div {
    display: flex;
    justify-content: center;
}

.link {
    display: flex;
    font-size: 10px;
    color: blue;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #ffb3c6;
    border-color: black;
    transition: 0.5s;
}

h1 {
    color: #f72585;
}

button:hover {
    transform: translateY(-5px);
    background-color: #f72585; 
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 50px;
    row-gap: 150px;
    justify-items: center;
    align-items: stretch;
}

.artifact {
    display: block;
}